In [47]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [48]:
df= pd.read_csv("primary-tumor.csv")

In [49]:
df.head()

,age,sex,histologic-type,degree-of-diffe,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
0,>=60,female,NaN,NaN,False,False,False,False,False,True,False,False,False,False,False,False,False,lung
1,>=60,male,NaN,poorly,False,False,False,False,False,True,False,False,False,True,False,True,False,lung
2,30-59,female,adefalse,NaN,False,False,False,True,False,False,False,True,False,False,True,False,False,breast
3,30-59,female,adefalse,NaN,False,False,False,False,True,False,False,False,False,False,False,False,False,ovary
4,30-59,female,adefalse,NaN,False,False,False,True,True,False,False,False,False,False,False,False,False,ovary

In [50]:
df.isna().sum()

age                  0
sex                  1
histologic-type     65
degree-of-diffe    139
bone                 0
bone-marrow          0
lung                 0
pleura               0
peritoneum           0
liver                0
brain                0
skin                 1
neck                 0
supraclavicular      0
axillar              1
mediastinum          0
abdominal            0
class                0
dtype: int64

In [51]:
df.drop(['histologic-type','degree-of-diffe'],axis=1,inplace=True)

In [52]:
df.dropna(axis=1,inplace=True)

In [53]:
df.isna().sum()

age                0
bone               0
bone-marrow        0
lung               0
pleura             0
peritoneum         0
liver              0
brain              0
neck               0
supraclavicular    0
mediastinum        0
abdominal          0
class              0
dtype: int64

In [54]:
df.head()

,age,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,neck,supraclavicular,mediastinum,abdominal,class
0,>=60,False,False,False,False,False,True,False,False,False,False,False,lung
1,>=60,False,False,False,False,False,True,False,False,True,True,False,lung
2,30-59,False,False,False,True,False,False,False,False,False,False,False,breast
3,30-59,False,False,False,False,True,False,False,False,False,False,False,ovary
4,30-59,False,False,False,True,True,False,False,False,False,False,False,ovary

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              309 non-null    object
 1   bone             309 non-null    bool
 2   bone-marrow      309 non-null    bool
 3   lung             309 non-null    bool
 4   pleura           309 non-null    bool
 5   peritoneum       309 non-null    bool
 6   liver            309 non-null    bool
 7   brain            309 non-null    bool
 8   neck             309 non-null    bool
 9   supraclavicular  309 non-null    bool
 10  mediastinum      309 non-null    bool
 11  abdominal        309 non-null    bool
 12  class            309 non-null    object
dtypes: bool(11), object(2)
memory usage: 8.3+ KB

In [56]:
df['age'].unique()

array(['>=60', '30-59', '<30'], dtype=object)

In [57]:
df['class'].value_counts()

lung                 81
stomach              38
pancreas             28
kidney               23
ovary                19
breast               18
gallbladder          15
thyroid              14
colon                14
head and neck        14
esophagus             9
prostate              8
liver                 7
corpus uteri          6
rectum                6
bladder               2
salivary glands       2
cervix uteri          2
duoden and sm.int     1
vagina                1
testis                1
Name: class, dtype: int64

In [58]:
df['class'].unique()

array(['lung', 'breast', 'ovary', 'colon', 'prostate', 'head and neck',
       'thyroid', 'pancreas', 'liver', 'kidney', 'salivary glands',
       'rectum', 'gallbladder', 'stomach', 'esophagus', 'corpus uteri',
       'testis', 'cervix uteri', 'duoden and sm.int', 'bladder', 'vagina'],
      dtype=object)

In [59]:
keep=['lung', 'breast', 'ovary', 'colon', 'head and neck','thyroid','gallbladder','kidney','pancreas']
fin=[]
for i in df['class']:
    if i not in keep:
        fin.append(False)
    else:
        fin.append(i)

In [60]:
df['class']=fin

In [61]:
df2=df[df['class']!=False]

In [63]:
for i in df2.columns:
    le= LabelEncoder()
    df2[i]= le.fit_transform(df2[i])

C:\Users\manavgakhar\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
df2.head()

,age,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,neck,supraclavicular,mediastinum,abdominal,class
0,2,0,0,0,0,0,1,0,0,0,0,0,5
1,2,0,0,0,0,0,1,0,0,1,1,0,5
2,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,6
4,0,0,0,0,1,1,0,0,0,0,0,0,6

In [67]:
for i in df2.columns:
    print(i,df2[i].unique())

age [2 0 1]
bone [0 1]
bone-marrow [0 1]
lung [0 1]
pleura [0 1]
peritoneum [0 1]
liver [1 0]
brain [0 1]
neck [0 1]
supraclavicular [0 1]
mediastinum [0 1]
abdominal [0 1]
class [5 0 6 1 3 8 7 4 2]

In [69]:
age_cat= pd.get_dummies(df2['age'])

In [70]:
df2= pd.concat([df2,age_cat],axis=1)

In [71]:
df2

,age,bone,bone-marrow,lung,pleura,peritoneum,liver,brain,neck,supraclavicular,mediastinum,abdominal,class,0,1,2
0,2,0,0,0,0,0,1,0,0,0,0,0,5,0,0,1
1,2,0,0,0,0,0,1,0,0,1,1,0,5,0,0,1
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,6,1,0,0
4,0,0,0,0,1,1,0,0,0,0,0,0,6,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2,0,0,0,0,0,1,0,0,0,1,1,5,0,0,1
302,0,1,0,0,0,0,0,0,0,0,1,0,4,1,0,0
306,0,1,0,0,0,0,0,0,0,0,0,0,5,1,0,0
307,0,0,0,0,1,1,0,0,0,0,0,0,6,1,0,0
308,0,1,0,1,1,1,1,1,0,0,0,1,2,1,0,0

In [72]:
df2.drop('age',axis=1,inplace=True)

In [73]:
df2['class'].value_counts()

5    81
7    28
4    23
6    19
0    18
2    15
8    14
3    14
1    14
Name: class, dtype: int64

In [74]:
X_train, X_test, y_train, y_test = train_test_split(df2.drop('class',axis=1), df2['class'], test_size=0.2, random_state=42)

In [87]:
lr= LogisticRegression()
dt= DecisionTreeClassifier()

In [88]:
lr.fit(X_train,y_train)
dt.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [89]:
a= lr.predict(X_test)
b= dt.predict(X_test)

In [90]:
from sklearn.metrics import accuracy_score

In [91]:
accuracy_score(y_test,a)

0.5869565217391305

In [92]:
accuracy_score(y_test,b)

0.32608695652173914

## Dataset is extremely small after dropping na columns. Not enough instances of each class present.

## Hence the extremely poor accuracy