In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('bank.csv')

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
for i in df.columns:
    print(df[i].unique())

[59 56 41 55 54 42 60 37 28 38 30 29 46 31 35 32 49 43 26 40 33 23 48 45
 36 52 53 39 57 51 44 24 50 27 34 47 25 58 61 68 75 22 69 66 85 72 90 67
 71 21 74 65 62 83 70 76 77 19 73 63 20 78 95 64 79 82 18 86 84 87 92 81
 80 93 88 89]
['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
['married' 'single' 'divorced']
['secondary' 'tertiary' 'primary' 'unknown']
['no' 'yes']
[2343   45 1270 ... 1594 2593 -134]
['yes' 'no']
['no' 'yes']
['unknown' 'cellular' 'telephone']
[ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24  1 10 22 25 31]
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
[1042 1467 1389 ... 1504  818 1812]
[ 1  2  3  4  6  5  8 11  9 10 15 12 14  7 24 13 17 29 21 20 16 32 19 25
 22 43 18 41 63 27 30 26 23 28 33 31]
[ -1 166  91 147 170 150 171 126 182 110 198 174 175  27 128 100 177 167
 122 183 195 133 178  34  10 163 184 154  99  93   2 242 272  76 160  90
 196 246 238 203 268 189 267  92   9  88  85 210 257 261 270 106 199 112
  41 294 231 239 302 135 307 222 138 323 141 320 264 316 315 256 146 328
  74 148 327 341 145 266 234 345 318 325 274 343 260 305 344 254 180 340
  82 181 278 153   4 349 334 176  87 269  86 169  83  79   6 259  13 161
 350  84  80 164  22 296  66 263 333  17  89  78 286 337 364 188 342 363
 352 295 353 356 288 367 366 359 347 370 284 300 306 361 287 301 355 371
 292 360 358 346 357 368 312 179 329 298 372 374 375 291  95 109  94  98
 186 101 187 321  40  96  21  35  97 285 103 212 293  81  38  28  67  60
 120  55 113  71 119  72  20 391  50 207 105 314 211 140 104  65 395 399
  49 389 386 412  62 229 385 156  63  64  69 394  70 185 102 190 461 116
 422 457 430 192 462 403 191 459 397 197 173 271 428 392 193 474 475 477
 130 283 157 476 131 132 129 134 114 121 107 115  58  57 143 208 335 149
 139  52  75 515 111  56 194 520 213 351 273 162 378 279 200 201 310 275
 127 165 309 313 216 209 282 202 436 433 142 172 281  48 276 297 280 446
 558 616 561 553 555 262 265 384 388 152 390 322 205 326 478 339 155 421
 223 626 426 236 206 348 595 311 648 304 521 369 449 398  53 258 479 237
 425 376 224 227 225 144 586 450 424 776 251 460 683 158 529 377 415 244
 407 458 532 481 445 535 784 491 440 455 277 470   1 435 437 728 414 518
 308 828  31  43 761  29  44 579 466 125 504 427 749 365 769 469 587 792
 854 842 603 444 232 690 137 442 541 550  73 439 420 168 243 387 204 503
 124 290  77  14 221 409 782 332 330 804 551 230 405 319  37 123 417 490
 463 362 805 544 472  33 495 253  36 299 324 235 401 117  68 774 228 317
 255 336 233 486   5 778 771 245  42 338 354 373 772  59 247 331  61 381
 108  15   8 241 136 159 250 217  12 826 594 303 151 404 717 289 252 651
 214  24 701 118]
[ 0  1  4  2  3 10  7  9  5 29  6 13 17  8 11 30 22 58 21 14 26 12 19 55
 23 15 20 27 16 41 40 28 18 37]
['unknown' 'other' 'failure' 'success']
['yes' 'no']

In [7]:
obj=[]
for i in df.columns:
    if((df[i].dtype!='float64')):
        obj.append(i)

In [8]:
obj

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'deposit']

In [9]:
from sklearn.preprocessing import LabelEncoder

for i in obj:
    le= LabelEncoder()
    df[i]= le.fit_transform(df[i])

In [11]:
from sklearn.tree import DecisionTreeClassifier

dt= DecisionTreeClassifier()

from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('deposit',axis=1), df['deposit'], test_size=0.2, random_state=42)

In [14]:
dt.fit(X_train,y_train)

a=dt.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,a)

0.7648902821316614

# Curse of dimensionality !!

In [16]:
for i in obj:
    a= pd.get_dummies(df[i])
    df= pd.concat([df,a],axis=1)

In [17]:
for i in obj[:-1]:
    df.drop(i,axis=1,inplace=True)

In [ ]:
for i in range(6):
    df.iloc[:,i]= minmax_scale(df.iloc[:,i])

In [18]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('deposit',axis=1), df['deposit'], test_size=0.2, random_state=42)

In [19]:
dt.fit(X_train,y_train)

a=dt.predict(X_test)

In [20]:
accuracy_score(y_test,a)

1.0

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
lr= LogisticRegression()

In [32]:
lr.fit(X_train,y_train)

b=lr.predict(X_test)

In [33]:
accuracy_score(y_test,b)

1.0